<!-- <div class="dose-container">
  <div class="form"> -->
    <%#= simple_form_for([@cocktail, @dose]) do |f| %>
      <%#= f.input :cocktail %>
      <%#= f.input :ingredient %>
      <%#= f.input :description %>
      <%#= f.button :submit %>
    <%# end %>
<!--   </div>
</div> -->
